<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Quiz Questions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>

<body class="container">
    {% include 'quiz/base.html' %}
    <div class="jumbotron">
        {% if question_list %}
        <h1>{{ currentQuiz.quiz_title }}</h1>
        <p>{{ currentQuiz.quiz_description}}</p>
        <ul>
            {% for question in question_list %}
            <li>{{ question.question_title }}</li>
            {% endfor %}
        </ul>

        {% else %}
        <p>No questions in this quiz at the moment</p>
        {% endif %}

        <a class="btn btn-primary" href="/quiz/">Go back to main view</a>
    </div>
</body>

</html>